<h1>Dashboard</h1>
<div class="container">
  <div class="tables">
    <h3>Entregas Por Motoristas</h3>
    <app-table
      [columns]="['driver', 'totalDeliveries', 'totalDeliveriesSuccess']"
      [tableColumns]="[
        { attr: 'driver', label: 'Motoristas' },
        { attr: 'totalDeliveries', label: 'Total de entregas' },
        {
          attr: 'totalDeliveriesSuccess',
          label: 'Total de entregas concluídas',
        }
      ]"
      [tableDataAttr]="{ type: 'driversSuccessful' }"
      [filterInputs]=""
      (onPagination)="onPaginationDeliverySuccessful($event)"
    ></app-table>
  </div>
  <div class="tables">
    <h3>Entregas Sem Sucesso</h3>
    <app-table
      [columns]="['driver', 'total']"
      [tableColumns]="[
        { attr: 'driver', label: 'Motoristas' },
        { attr: 'total', label: 'Total de entregas não concluidas' }
      ]"
      [tableDataAttr]="{ type: 'driversUnsuccessful' }"
      [filterInputs]=""
      (onPagination)="onPaginationDeliveryUnsuccessful($event)"
    ></app-table>
  </div>
</div>
<div>
  <h3>Entregas por bairro</h3>
  <app-table
    [columns]="['neighborhood', 'totalDeliveries', 'totalDeliveriesSuccess']"
    [tableColumns]="[
      { attr: 'neighborhood', label: 'Bairros' },
      { attr: 'totalDeliveries', label: 'Total de entregas' },
      {
        attr: 'totalDeliveriesSuccess',
        label: 'Total de entregas concluídas'
      }
    ]"
    [tableDataAttr]="{ type: 'neighborhood' }"
    [filterInputs]=""
    (onPagination)="onPaginationNeighborhoodl($event)"
  ></app-table>
</div>
