<h1>Dashboard</h1>
<div class="container">
  <div class="tables">
    <h3>Entregas Por Motoristas</h3>
    <app-table
      [columns]="['id', 'driver', 'totalDeliveries', 'totalDeliveriesSuccess']"
      [tableColumns]="[
  { attr: 'id', label: 'ID' },
    { attr: 'driver', label: 'Motoristas' },
    { attr: 'totalDeliveries', label: 'Total de entregas' },
    {
      attr: 'totalDeliveriesSuccess',
      label: 'Total de entregas concluídas',
    }
  ]"
      [isLoading]="driversSuccessful.isLoading"
      [tableData]="driversSuccessful.data"
      [total]="driversUnsuccessful.total"
      [page]="driversSuccessful.page"
      [size]="driversSuccessful.size"
      [filterInputs]=""
      (onPagination)="onPaginationDeliverySuccessful($event)"
    ></app-table>
  </div>
  <div class="tables">
    <h3>Entregas Sem Sucesso</h3>
    <app-table
      [columns]="['id', 'driver', 'total']"
      [tableColumns]="[
        { attr: 'id', label: 'ID' },
        { attr: 'driver', label: 'Motoristas' },
        { attr: 'total', label: 'Total de entregas não concluidas' }
      ]"
      [isLoading]="driversUnsuccessful.isLoading"
      [tableData]="driversUnsuccessful.data"
      [total]="driversUnsuccessful.total"
      [page]="driversUnsuccessful.page"
      [size]="driversUnsuccessful.size"
      [filterInputs]=""
      (onPagination)="onPaginationDeliveryUnsuccessful($event)"
    ></app-table>
  </div>
</div>
<div>
  <h3>Entregas por bairro</h3>
  <app-table
    [columns]="[
      'id',
      'neighborhood',
      'totalDeliveries',
      'totalDeliveriesSuccess'
    ]"
    [tableColumns]="[
      { attr: 'id', label: 'ID' },
      { attr: 'neighborhood', label: 'Bairros' },
      { attr: 'totalDeliveries', label: 'Total de entregas' },
      {
        attr: 'totalDeliveriesSuccess',
        label: 'Total de entregas concluídas'
      }
    ]"
    [isLoading]="neighborhood.isLoading"
    [tableData]="neighborhood.data"
    [total]="neighborhood.total"
    [page]="neighborhood.page"
    [size]="neighborhood.size"
    [filterInputs]=""
    (onPagination)="onPaginationDeliveryUnsuccessful($event)"
  ></app-table>
</div>
